.flagsmode-container{
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.flagsmode-container button{
  min-width: 16rem;
  font-size: 2rem;
  font-family: Helvetica;
  padding: 1rem 0 1rem 0;
  border-radius: 0.5rem;
  background-color: #3E424B;
  transition: background-color 0.35s;
}

.flagsmode-container button:hover{
  background-color: #3D606E;
}

.flagsmode-container a{
margin-bottom: 3rem;
}

.return-button{
  position: absolute;
  left: 2rem;
  top: 2rem;
  height: 2rem;
  width: 4rem;
}

.game-lives img{
  width: 4rem;
  margin: 0 1rem 0 1rem;
  transition: all 0.5s ease;
}

.country-name{
  font-size: 1.5rem;
  font-weight: 500;
}

.buttons-container{
  overflow: wrap;
  min-width: 17rem;
}

.buttons-container button{
  border-radius: 0.5rem;
}


.flag-icon{
  width: 8rem;
  height: 6rem;
  margin: 0.25rem;
}

.game-container button {
  border: none;
  margin: 0.2rem;
  transition: opacity 0.25s;
}

.game-container button:hover {
  opacity: 0.80;
}

.red-button{
  background-color: rgb(207, 30, 18);
}

.green-button{
  background-color: rgb(47, 202, 60);
}

.endgame-container{
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.endgame-container img{
  object-fit: cover;
}